<html>
<head>
<meta name="viewport" content="initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link href="../styles.css" rel="stylesheet">
<script src = "../../userexp.js"></script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container col-sm-8 col-sm-offset-2">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
        <li> <a href="/">Home</a></li>
        <li><a href="../items"> items</a></li>
        <li><%if(isAuthenticated==true){%><a href="../user/<%=user.user.summoner%>"> User</a><%}else{%>
        <a href="#promptlogin">User</a> <%}%>
        </li>

	 <li><a href="../champions">Champions</a></li>
 </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="modalmessage" class="modal fade">

</div>

<div class= "bg-drop" style="background-image: url('http://cdn.leagueoflegends.com/game-info/1.1.9/images/champion/backdrop/bg-<%=resspecchampionget.name.toLowerCase()%>.jpg')">

</div>
<div class='nameanddesc  col-lg-8 col-lg-offset-2'>
<h2 class='text-center'> <%=resspecchampionget.name%></h2>
<p class='text-center'>
<%=resspecchampionget.blurb%>
</p>
</div>

<div class= 'items-container col-sm-10 col-md-offset-1'>
<div class='col-sm-3 hidden-md hidden-xs hidden-sm' style="height:100%">
<img class="col-sm-12 " src =http://ddragon.leagueoflegends.com/cdn/img/champion/loading/<%= resspecchampionget.name%>_1.jpg>

</div>
<%for(var i = 0; i < resspecchampionget.spells.length;i++){%>
<div class="col-sm-9"  id="<%=resspecchampionget.spells[i].name%>">
<div class="col-sm-10 col-sm-offset-1"><h3 class='text-center'><%=resspecchampionget.spells[i].name%></h3>
<img style = "float:left;" class="center-mobile"  src = "http://ddragon.leagueoflegends.com/cdn/4.20.1/img/spell/<%=resspecchampionget.spells[i].image.full%>">
<p style="line-height:initial;text-align:center;"><%=resspecchampionget.spells[i].sanitizedDescription%></p>
</div>
</div>
<%}%>

</div>
</div>	
</body>
</html>


